* {
	font-family: 'Noto Sans KR', sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

:root {
	--mainColor: #6327FE;
	--subColor: #EAE8FE;
	--white: #FFFFFF;
	--grey: #BDBDBD;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.blind {
	position: absolute;
	clip: rect(0 0 0 0);
	clip-path: inset(100%);
	width: 1px;
	height: 1px;
	margin: -1px;
	overflow: hidden;
}

ul li{
	list-style: none;
}

button{
	background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}