body {
    background-color: var(--subColor);
}

.wrapper{
    width: 748px;
    margin: 0 auto;
    text-align: center;
}

.logo {
    width: 386px;
    height: 180px;
}

section #vending,
section #budget,
section #purchased {
    width: 360px;
    background-color: var(--white);
    box-sizing: border-box;
}

main {
    margin: 67px 0 171px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50px;
    grid-gap: 20px 28px;
}

section #vending {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    padding: 31px 27px 28px;
}

section #budget {
    padding: 9px 27px;
}

section #purchased {
    padding: 25px 27px;
}

.vending-cola-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 12px;
}

.vending-cola-list-item {
    padding: 9px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 130px;
    width: 94px;
    /* box-sizing: border-box; */
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    background-color: var(--white);
}

.vending-cola-list-item:hover,
.vending-cola-list-item:active,
#deposit:hover,
#change:hover,
#purchase:hover
 {
    outline: var(--mainColor) solid 3px;
    box-shadow: none;
}

.vending-cola-list-item:disabled{
    color: black;
    cursor: not-allowed;
}

.vending-cola-list-item:disabled::after{
    content: "품절";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.8);
    background-image: url("../images/sold_out.png");
    background-position: 50% 50%;
    background-size: 57.51px 44.85px;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.vending-cola-list-item:disabled:hover{
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}

.vending-cola-list-item img {
    margin-top: 2px;
    width: 36px;
    height: 65px;
}

.vending-cola-list-item p {
    font-family: 'Noto Sans KR';
    font-size: 9px;
    transform: scale(0.9);
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0em;
    margin-top: 6px;
}

.vending-cola-list-item span {
    background-color: var(--mainColor);
    border-radius: 50px;
    color: var(--white);
    font-family: 'Noto Sans KR';
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 0em;
    padding: 5px 16px 5px 15px;
    margin-top: auto;
}

.vending-cola-list-item span::after {
    content: "원";
}

.add-to-cart {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 11px 12px;
}

#balance, #change, #deposit-amount, #deposit, #purchase, #add-to-cart-list, #purchased-list{
    box-sizing: border-box;
}

#balance {
    width: 200px;
    height: 32px;
    background-color: var(--subColor);
    padding: 6px 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

.label{
    float: left;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.value{
    float: right;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.budget-amount-value{
    font-weight: 700;
}

.value::after{
    content: " 원";
}

#change {
    height: 32px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
    background-color: var(--white);
    border-radius: 5px;
    font-size: 13px;
    font-weight: 500;
}

#deposit-amount {
    width: 200px;
    height: 32px;
    border-radius: 5px;
    outline: 1px solid var(--grey);
    font-size: 13px;
    font-weight: 500;
    padding: 6px;
    line-height: 19px;
}

#deposit-amount::placeholder,
#deposit-amount:-ms-input-placeholder,
#deposit-amount::-ms-input-placeholder {
    color: var(--grey);
}

#deposit {
    height: 32px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
    background-color: var(--white);
    border-radius: 5px;
    font-size: 13px;
    font-weight: 500;
}

#add-to-cart-list {
    width: 200px;
    height: 106px;
    overflow-x: auto;
    border-radius: 5px;
    background-color: var(--subColor);
    padding: 12px;
    outline: 1px solid var(--grey);
}

/* scrollbar CSS */
/* width */
#add-to-cart-list::-webkit-scrollbar, #purchased-list::-webkit-scrollbar {
    width: 12px;
}

/* Track */
#add-to-cart-list::-webkit-scrollbar-track, #purchased-list::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
#add-to-cart-list::-webkit-scrollbar-thumb, #purchased-list::-webkit-scrollbar-thumb{
    background: white;
    background-clip: padding-box;
    padding: 0 4px;
    border: 4px solid transparent;
    border-radius: 50px;
    height: 95%;
}

.adding-cola-list, .purchased-cola-list{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.adding-cola-item{
    background-color: var(--white);
    width: 170px;
    height: 46px;
    border-radius: 5px;
    display: flex;
    box-sizing: border-box;
    align-items: center;
}

.purchased-cola-item{
    background-color: var(--white);
    width: 276px;
    height: 46px;
    border-radius: 5px;
    display: flex;
    box-sizing: border-box;
    align-items: center;
}

.adding-cola-item img, .purchased-cola-item img {
    margin-left: 10px;
    width: 18px;
    height: 33px;
}

.adding-cola-item p, .purchased-cola-item p {
    font-weight: 500;
    font-size: 9px;
    transform: scale(0.9);
    line-height: 13px;
    margin-left: 10px;
}

.count {
    width: 30px;
    height: 30px;
    border: 1px solid var(--grey);
    border-radius: 5px;
    margin-right: 8px;
    margin-left: auto;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
}

#purchase {
    border-radius: 5px;
    height: 106px;
    background-color: var(--mainColor);
    color: var(--white);
    font-size: 13px;
    font-weight: 700;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}

#budget-amount {
    width: 306px;
    height: 32px;
    background-color: var(--subColor);
    padding: 6px 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    box-sizing: border-box;
}

.purchased-cola {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 13px;
}

#purchased-list {
    width: 306px;
    height: 364px;
    overflow-x: auto;
    border-radius: 5px;
    background-color: var(--subColor);
    padding: 12px;
    outline: 1px solid var(--grey);
}

#total-amount {
    display: block;
    margin-top: 6px;
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    text-align: end;
}

#total-amount::before{
    content: "총 금액 : ";
}

#total-amount::after{
    content: " 원";
}

@media screen and (max-width:748px){

    body {
        background-color: var(--white);
    }
    
    .wrapper{
        width: 100%;
    }

    header {
        min-width: 360px;
        height: 78px;
    }

    main {
        display: block;
        margin: 0;
    }

    .logo{
        width: 166px;
        height: 78px;
    }
    
    section #vending,
    section #budget,
    section #purchased{
        margin: 0 auto;
    }

    section #vending {
        padding: 18px 27px;
    }

    section #budget {
        padding: 2px 27px;
    }

    section #purchased{
        padding: 39px 27px 43px;
    }
}